$main-font: 'Montserrat', sans-serif;
$error-color: #ff4d4d;
$input-border-color: #333;
$input-background-color: #f9f9f9;
$input-transition-time: 0.3s;
$button-background-color: #66b2ff;
$button-border-radius: 50px;
$mainFontSize: 18px;
$label-color: #555;
$disconnectedColor: #ff6666;
$connectedColor: #66cc66;
$primaryColor: #66b2ff;
