@import '../../Scss/utils/vars';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 280px;
	background-color: #4b7bd5df;
	overflow-y: auto;
	z-index: 1200;
	padding-top: 20px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sidebar ul li {
	padding: 10px;
	border-bottom: 1px solid #000000;
}

.sidebar ul li:last-child {
	border-bottom: none;
}

.sidebar ul li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	transition: background-color 0.3s ease;
	color: #000000;
}
