@import '../../Scss/utils/vars.scss';

.base-button {
	padding: 17px 30px;
	margin-top: 20px;
	background: $button-background-color;
	border: none;
	color: black;
	font-size: $mainFontSize;
	border-radius: $button-border-radius;
	cursor: pointer;
	transition: background-color $input-transition-time;
}
